<div class="big-container">

  <div class="container">
    <h4 class="user-bar"><%= current_user.username %>'s coding </h4>
    <div class="coded">
        <h6> 0 lines coded
        <br>
        0 per second</h6>
    </div>
    <div class="computer">
    <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688122247/computer1_pqknbu.png" alt="80s computer pixel art" class="computer-image"/>
    </div>
  </div>

  <div class="container">
    <h3>Your coding</h3>
      <p>Your junior developers are coding: 0 per second. <br>
      Your senior developers are coding: 0 per second. <br>
      Your startups are coding: 0 per second. <br>
      Your companies are coding: 0 per second. <br>
      Your big techs are coding: 0 per second. <br>
      Your AIs are coding: 0 per second. <br>
      Your quantum computers are coding: 0 per second. <br>
      Your coding stars are coding: 0 per second. <br>
      Your architects are coding: 0 per second.</p>
  </div>

  <div class="container">
    <h3>Store</h3>
      <div class="all-boxes">

          <div class="card-product">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688378808/Screenshot_2023-07-03_at_11.06.08_d6g5cs.png" />
          <div class="card-product-infos">
            <h2>Junior Developer</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688378458/Senior-Dev_ixnkhr.jpg" />
          <div class="card-product-infos">
            <h2>Senior Developer</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Startup</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Company</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Big Tech</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>AI</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Quantum Computer</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Coding Star</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>The Architect</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
          </div>

      </div>
  </div>

</div>
