<div class="big-container" data-controller="code-computer">

  <div class="container">
    <h4 class="user-bar"><%= current_user.username %>'s coding </h4>
    <div class="coded">
        <h6> <strong id="total-coded">0</strong> lines coded
        <br>
        <strong id="per-second">0</strong> per second</h6>
    </div>
    <div class="computer">
    <div class="circles">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <img
        src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688122247/computer1_pqknbu.png"
        alt="80s computer pixel art"
        class="computer-image"
        data-action="click->code-computer#code"
      />
    </div>
    </div>
    <div class="text-center" style="margin-top: 4rem">
      <button type="button" class="btn btn-outline-success">Upgrade Computer (Cost 3.500)</button>
    </div>
  </div>

  <div class="container">
    <h3 class="store-title">Your coding</h3>
    <div class="stats">
      <p>
      You have manually coded <strong id="manually-coded">0</strong> lines. <br>
      <span id="stats-text-juniors"> Your <strong id="total-juniors">0</strong> junior developers are coding: <strong id="coding-juniors">0</strong> lines per second.</span> <br>
      <span id="stats-text-seniors"> Your <strong id="total-seniors">0</strong> senior developers are coding: <strong id="coding-seniors">0</strong> lines per second.</span> <br>
      <span id="stats-text-startups"> Your <strong id="total-startups">0</strong> startups are coding: <strong id="coding-startups">0</strong> lines per second.</span> <br>
      <span id="stats-text-companies"> Your <strong id="total-companies">0</strong> companies are coding: <strong id="coding-companies">0</strong> lines per second.</span> <br>
      <span id="stats-text-bigtechs"> Your <strong id="total-bigtechs">0</strong> big techs are coding: <strong id="coding-bigtechs">0</strong> lines per second.</span> <br>
      <span id="stats-text-quantums"> Your <strong id="total-quantum">0</strong> quantum computers are coding: <strong id="coding-quantum">0</strong> lines per second.</span> <br>
      <span id="stats-text-ais"> Your <strong id="total-ais">0</strong> AIs are coding: <strong id="coding-ais">0</strong> lines per second.</span> <br>
      <span id="stats-text-stars"> Your <strong id="total-stars">0</strong> coding stars are coding: <strong id="coding-stars">0</strong> lines per second.</span> <br>
      <span id="stats-text-architects"> Your <strong id="total-architects">0</strong> architects are coding: <strong id="coding-architects">0</strong> lines per second.</span>
      </p>
      </div>
      <div id="pics-container">
      </div>
  </div>

  <div class="container">
    <h3 class="store-title">Store</h3>
      <div class="all-boxes">

          <div class="card-product" id="junior" data-action="click->code-computer#hireJunior">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688378808/Screenshot_2023-07-03_at_11.06.08_d6g5cs.png" />
          <div class="card-product-infos">
            <h2>Junior Developer (Cost 25)</h2>
            <p>Hire a Junior Developer! Slow coder with not much experience but with great attitude!</p>
          </div>
          </div>

          <div class="card-product" id="senior" data-action="click->code-computer#hireSenior">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1689679926/senior-dev_fhxjfd.png" />
          <div class="card-product-infos">
            <h2>Senior Developer (Cost 50)</h2>
            <p>Hire a Senior Developer! Very efficient, fast coder with a lot of experience.</p>
          </div>
          </div>

          <div class="card-product" id="startup" data-action="click->code-computer#hireStartup">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688382257/Screenshot_2023-07-03_at_12.03.54_fknigd.png" />
          <div class="card-product-infos">
            <h2>Startup (Cost 150)</h2>
            <p>Launch a Startup! Small team that will code for you. They love working from home.</p>
          </div>
          </div>

          <div class="card-product" id="company" data-action="click->code-computer#hireCompany">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688379727/Screenshot_2023-07-03_at_11.12.35_qspn3i.png" />
          <div class="card-product-infos">
            <h2>Company (Cost 450)</h2>
            <p>Create a company! A whole team coding just for you. They love casual Fridays at the office.</p>
          </div>
          </div>

          <div class="card-product" id="big-tech" data-action="click->code-computer#hireBigTech">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1688380161/Screenshot_2023-07-03_at_11.23.33_lw0j4e.png" />
          <div class="card-product-infos">
            <h2>Big Tech (Cost 1,350)</h2>
            <p>Create a Big Tech! Dominate the market and monopolize all the coding of the world.</p>
          </div>
          </div>

          <div class="card-product" id="quantum-computer" data-action="click->code-computer#hireQuantumComputer">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1689681658/EDxIonhUEAI9Tz8_ta2zvd.jpg" />
          <div class="card-product-infos">
            <h2>Quantum Computer (Cost 5,000)</h2>
            <p>Build a Quantum Computer! This bad boys can code to horizons never seen before.</p>
          </div>
          </div>

          <div class="card-product" id="AI" data-action="click->code-computer#hireAi">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688380978/Screenshot_2023-07-03_at_11.40.58_q1ekk3.png" />
          <div class="card-product-infos">
            <h2>AI (Cost 20,000)</h2>
            <p>Build an Artificial Intelligence! In the limit between machine and man they will code things above your understanding.</p>
          </div>
          </div>

          <div class="card-product" id="coding-star" data-action="click->code-computer#hireCodingStar">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688381695/code-star_rhmuof.png" />
          <div class="card-product-infos">
            <h2>Coding Star (Cost 100,000)</h2>
            <p>Construct a Coding Star! Go beyond and create a space station that will code unimaginable things.</p>
          </div>
          </div>

          <div class="card-product" id="architect" data-action="click->code-computer#hireArchitect">
          <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1688380308/architect_z2rev3.webp" />
          <div class="card-product-infos">
            <h2>The Architect (Cost 500,000)</h2>
            <p>Creator of reality as we know the Architect can code anything into existence.</p>
          </div>
          </div>

      </div>
  </div>

</div>
