.alert {
  position: fixed;
  bottom: 320px;
  right: 200px;
  z-index: 1000;
  padding: 30px 16px;
}

.long-message {
  width: 350px;
}

.login-btn {
  padding: 12px;
  font-size: 22px;
}

#error_explanation h2 {
  color: red;
}
