.computer-image {
  width: 250px;
  margin: 60px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: 2;
}

.computer-image:hover {
  transition: transform .4s ease;
  transform: scale(1.15);
  cursor: pointer;
}
