.big-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container {
 background-color: #F7F1E5;
}

.my-container {
  justify-content: center;
}

#stats-container {
  position: relative;
}
