.big-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container {
 background-color: #F7F1E5;
 display: flex;
 flex-direction: column;
}

.my-container {
  justify-content: center;
}

#pics-container {
  flex-grow: 1;
  position: relative;
}
