.login-box {
  background-color: rgb(230,198,126);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  position: absolute;
  top: 30%;
  left: 38%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.login-page {
  background: url("https://res.cloudinary.com/dgqqot40q/image/upload/v1692880797/background-image_blurry_uqdke2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
  opacity: 0.9;
}

.login-title {
  color: black;
}
