.stats {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #043701;
  border-radius: 8px;
  padding: 4px;
  margin-top: 15px;
  font-size: 13px;
  width: 400px;
  height: 204px;
  flex-direction: column;
}
