#stats-text-juniors {
  visibility: hidden;
}

#stats-text-seniors {
  visibility: hidden;
}

#stats-text-startups {
  visibility: hidden;
}

#stats-text-companies {
  visibility: hidden;
}

#stats-text-bigtechs {
  visibility: hidden;
}

#stats-text-quantums {
  visibility: hidden;
}

#stats-text-ais {
  visibility: hidden;
}

#stats-text-stars {
  visibility: hidden;
}

#stats-text-architects {
  visibility: hidden;
}
